<div class="col-md-9">
  <table class="table">
    <thead>
      <tr>
        <th><%= t ".name" %></th>
        <th><%= t ".title" %></th>
        <th><%= t ".content" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "question", collection: @questions, as: :question %>
    </tbody>
  </table>
  <%= paginate @questions %>
</div>
<div class="col-md-3"></div>
