<div class="col-md-9">
  <div class="section-title al-center">
    <h4><%= t ".question" %></h4>
  </div>
  <div class="section-body padding-arround">
    <div class="row">
      <div class="col-md-1 al-center" id="form-vote">
        <% if current_account.present? && @vote.persisted? %>
          <p><%= render "shared/users/votes/delete_vote_form", vote: @vote, model: @question %></p>
        <% else %>
          <p><%= render "shared/users/votes/new_vote_form", vote: @vote, model: @question %></p>
        <% end %>
      </div>
      <div class="col-md-10">
        <p class="bold"><%= @question.title %></h2>
        <p>
          <span><%= link_to @question.category_name, category_path(@question.category) %></span>
          <span> | <%= @question.created_at.to_formatted_s(:short) %></span>
        </p>
        <%= render "shared/statistics/question_statitic", question: @question %>
        <p><%= raw @question.content %></p>
        <hr>
        <%= form_for [:lawyer, @question.answers.build] do |f| %>
          <div class="field">
            <%= f.hidden_field :from_page, value: :top_page %>
            <%= f.hidden_field :question_id %>
            <%= f.text_area :content, rows: 2, class: "form__input",
              placeholder: t(".create_answer_box") %>
            <%= f.submit t(".submit"), class: "btn--default" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="section-title al-center">
    <h4><%= t ".answer" %></h4>
  </div>
  <div class="section-body padding-arround">
    <%= render partial: "answer", collection: @answers, as: :answer %>
  </div>
  <div id="sidebar" class="show-votes" role="complementary" aria-label="sidebar"></div>
</div>

<div class="col-md-3">
  <div class="section-title al-center">
    <h4><%= t ".user" %></h4>
  </div>
  <div class="section-body padding-arround al-center">
    <%= link_to account_path(@question.account) do %>
      <%= image_tag @question.account_avatar_url, size: "50x50", class: "no_margin" %>
      <p><%= @question.account_name %></p>
    <% end %>
  </div>

  <div class="section-title al-center">
    <h4><%= t ".popular_tags" %></h4>
  </div>
  <div class="section-body padding-arround">
    <ul class="list_tag_show">
      <%= render partial: "shared/tags/tag", collection: @top_tags, as: :tag %>
    </ul>
  </div>

  <div class="section-title al-center">
    <h4><%= t ".related_question" %></h4>
  </div>
  <div class="section-body padding-arround">
    <%= render partial: "shared/questions/related_question", collection: @related_questions, as: :question %>
  </div>
</div>
