<div class="col-md-9">
  <%= link_to t(".new"), new_user_question_path, class: "btn btn-success" %>
  <table class="table">
    <thead>
      <tr>
        <th><%= t ".name" %></th>
        <th><%= t ".content" %></th>
        <th><%= t ".action" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "question", collection: @questions, as: :question %>
    </tbody>
  </table>
</div>
<div class="col-md-3">
  <%= render "shared/lawyer_profiles/lawyer_statistis", account: current_account %>
</div>
