<tr id="<%= "lawyer-#{law_firm.id}" %>">
  <td><%= law_firm.name %></td>
  <td><%= law_firm.address %></td>
  <td>
    <% if law_firm.is_active? %>
      <span class="label label-success"><%= t ".active" %></span>
    <% else %>
      <span class="label label-danger"><%= t ".block" %></span>
    <% end %>
  </td>
  <td>
    <% if law_firm.is_active %>
      <%= form_for [:admin, law_firm] do |f| %>
        <%= f.hidden_field :is_active, value: false %>
        <%= f.submit t(".block"), class: "btn btn-danger" %>
      <% end %>
    <% else %>
      <%= form_for [:admin, law_firm] do |f| %>
        <%= f.hidden_field :is_active, value: true %>
        <%= f.submit t(".active"), class: "btn btn-success" %>
      <% end %>
    <% end %>
  </td>
</tr>
