<div class="col-md-12">
  <div class="avata-image">
    <%= image_tag @account.account_avatar_url, size: "120x120", class: "" %>
  </div>
  <div class="col-md-9" style="padding-bottom: 50px">
    <div>
      <h3><%= @lawyer_profile.account_name %></h3>
    </div>
    <div class="glyphicon glyphicon-envelope">
      <%= @lawyer_profile.account.email %>
    </div>
    </br>
    <div class="glyphicon glyphicon-flag">
      <%= @lawyer_profile.created_at %>
    </div>
    </br>
    <div class="glyphicon glyphicon-map-marker">
      <%= @lawyer_profile.address %>
    </div>
  </div>
</div>

<div class="col-md-8 padding-row-left ">
  <ul class="nav nav-tabs">
    <li class="active">
      <a data-toggle="tab" href="#home"><%= t ".profile" %></a>
    </li>
    <li>
      <a data-toggle="tab" href="#menu1"><%= t ".article" %></a>
    </li>
    <li>
      <a data-toggle="tab" href="#menu2"><%= t ".answers" %></a>
    </li>
    <li>
      <a data-toggle="tab" href="#menu3"><%= t ".review" %></a>
    </li>
  </ul>
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <div class="content-trouble clearfix">
        <div class="row">
          <div class="col-md-12 mb-pd0">
            <div class="title-content">
              <h3>
                <font style="vertical-align: inherit;"><%= t ".word_lawyer"%></font>
              </h3>
            </div>
          </div>
        </div>
        <div class="description">
          <font style="vertical-align: inherit;">
            <%= @lawyer_profile.introduction %>
          </font>
        </div>
        <div class="row">
          <div class="col-md-12 mb-pd0">
            <div class="title-content">
              <h3>
                <font style="vertical-align: inherit;"><%= t ".profile"%></font>
              </h3>
            </div>
          </div>
        </div>
        <div class="description">
          <%= render "lawyer_info", lawyer_profile: @lawyer_profile %>
        </div>
      </div>
    </div>
    <div id="menu1" class="tab-pane fade">
      <%= render "articles", articles: @lawyer_article %>
    </div>
    <div id="menu2" class="tab-pane fade">
      <%= render "answers", answers: @answers %>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h3><%= t ".review" %></h3>
      <%= render "reviews", reviews: @reviews, lawyer_profile: @lawyer_profile %>
    </div>
  </div></br>
</div>

<div class="col-md-3 clearfix">
</div>
