<div>
  <h3><%= t ".user" %></h3>
  <form action= <%= admin_accounts_path %> >
    <div class="input-group" >
      <input type="text" class="form-control" placeholder=" <%= I18n.t "top_pages.search" %> " name="q" size="50">
    </div>
  </form>
  <table class="table">
    <thead>
      <tr>
        <th><%= t ".name" %></th>
        <th><%= t ".email" %></th>
        <th><%= t ".status" %></th>
        <th><%= t ".action" %></th>
      </tr>
    </thead>
    <tbody>
      <% @accounts.each do |account| %>
        <tr>
          <td> <%= account.name %> </td>
          <td> <%= account.email %> </td>
          <td>
            <% if account.is_active? %>
              <span class="label label-success"><%= t ".active" %></span>
            <% else %>
              <span class="label label-danger"><%= t ".block" %></span>
            <% end %>
          </td>
          <td>
            <% if account.is_active %>
              <%= form_for [:admin, account] do |f| %>
                <%= f.hidden_field :is_active, value: false %>
                <%= f.submit t(".block"), class: "btn btn-danger" %>
              <% end %>
            <% else %>
              <%= form_for [:admin, account] do |f| %>
                <%= f.hidden_field :is_active, value: true %>
                <%= f.submit t(".active"), class: "btn btn-success" %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @accounts %>
</div>
