<div class="row">
  <div class="">
    <nav class="navbar navbar-inverse navbar-fixed-top" id="top-navi">
      <div class="col-md-10 col-md-offset-1">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand item" href="/"><%= t ".top_lawyer" %></a>
          </div>
          <ul class="nav navbar-nav">
            <li><%= link_to t(".articles"), root_path, class: "item" %></li>
            <li><%= link_to t(".questions"), questions_path, class: "item" %></li>
          </ul>

          <%= render "layouts/shared/top_search" %>

          <% if current_account.nil? %>
            <%= render "layouts/shared/login_buttons" %>
          <% else %>
            <%= render "layouts/shared/account_buttons" %>
          <% end %>
        </div>
      </div>
    </nav>
  </div>
</div>
