<p id="notice"><%= notice %></p>
<h1>Question</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.content %></td>
        <td><%= article.category_id %></td>
        <td><%= article.status %></td>
        <td><%= article.total_vote %></td>
        <td><%= link_to 'Edit', edit_user_article_path(article) %></td>

      </tr>
    <% end %>
  </tbody>
</table>
<br>
