<div>
  <h1><%= t ".article" %></h1>
  <div>
    <form action= <%= admin_articles_path %> >
      <div class="input-group" >
        <input type="text" class="form-control" placeholder=" <%= I18n.t "top_pages.search" %> " name="q" size="50">
      </div>
    </form>
    <table class="table">
      <thead>
        <tr>
          <th><%= t ".title" %></th>
          <th><%= t ".content" %></th>
          <th><%= t ".action" %></th>
        </tr>
      </thead>
      <tbody>
        <% @articles.each do |article| %>
          <tr>
            <td> <%= article.title %> </td>
            <td> <%= article.content.truncate 50 %> </td>
            <td> <%= link_to t(".delete"), admin_article_path(article), method: :delete, class: "btn-danger", data: {confirm: t(".confirm")} %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @articles %>
  </div>
</div>
