<tr>
  <td><%= article.title %></td>
  <td><%= article.content.html_safe %></td>
  <td><%= article.category_name %></td>
  <td><%= article.status %></td>
  <td><%= article.total_vote %></td>
  <td>
    <%= link_to t(".show"), article_path(article) %>
  </td>
</tr>
