<div class="col-md-1" id="form-vote">
  <p>total_vote: <%= @article.total_vote %></p>
  <% if current_account.present? %>
    <% if @vote.persisted? %>
      <p><%= render "shared/users/votes/delete_vote_form", vote: @vote %></p>
    <% else %>
      <p><%= render "shared/users/votes/new_vote_form", vote: @vote %></p>
    <% end %>
  <% end %>
</div>
<div class="col-md-8">
  <div class="section-body padding-arround">
    <p class="bold"><%= @article.title %></h2>
    <p><%= raw @article.content %></p>
  <div class="form-group">
    <h1><%= t(".Title") %></h1> <%= @article.title %>
  </div>

  <div class="form-group">
    <h1><%= t(".Status") %></h1> <%= @article.status %>
  </div>
    <div class="form-group">
      <h4>Comment</h4>
      <% if current_account != nil %>
        <%= render "comments/form", comment: @comment%>
      <% end %>
      <%= comments_tree_for @comments %>
    </div>
  </div>
</div>
<div class="col-md-3">
  <div class="section-title al-center">
    <h4><%= t ".author" %></h4>
  </div>
  <div class="section-body padding-arround al-center">
    <%= link_to lawyer_profile_path(@article.account.lawyer_profile) do %>
      <%= image_tag @article.account_avatar_url, size: "50x50", class: "no_margin" %>
    <% end %>
    <p>
      <%= render("shared/clip", clip: @clip) if current_account %>
    </p>
  </div>

  <div class="section-title al-center">
    <h4><%= t ".recommend_lawyers" %></h4>
  </div>
  <div class="section-body padding-arround al-center">
    <%= render "shared/ranking/monthly_top_lawyer", accounts: @advertise_lawyers %>
  </div>

  <div class="section-title al-center">
    <h4><%= t(".tag_list") %></h4>
  </div>
  <div class="section-body padding-arround al-center">
    <p>
      <% @article.tag_list.each do |tag| %>
        <%= link_to tag, tag_path(tag), class: "tag" %>
      <% end %>
    </p>
  </div>
</div>
