<div class="col-md-1" id="form-vote">
  <p><%= t ".total_vote" %>: <%= @article.total_vote %></p>
  <% if current_account.present? %>
    <% if @vote.persisted? %>
      <p><%= render "shared/users/votes/delete_vote_form", vote: @vote %></p>
    <% else %>
      <p><%= render "shared/users/votes/new_vote_form", vote: @vote %></p>
    <% end %>
  <% end %>
</div>
<div class="col-md-8">
  <div class="section-title al-center">
    <h4><%= t ".article" %></h4>
  </div>
  <div class="section-body padding-arround">
    <p class="bold"><%= @article.title %></h2>
    <p><%= raw @article.content %></p>
  </div>

  <div class="section-title al-center">
    <h4><%= t ".comment" %></h4>
  </div>
  <div class="section-body padding-arround">
    <div class="form-group">
      <% if current_account != nil %>
        <%= render "comments/form", comment: @comment%>
      <% end %>
      <%= comments_tree_for @comments %>
    </div>
  </div>

  <div class="">
    <div class="">
      <%= render "recommend", author_articles: @author_articles, related_articles: @related_articles %>
    </div>
    <button id="a">show/hide</button>
  </div>

  <script>
    $(document).on("turbolinks:load", function(){
      $("#a").click(function(){
        $(this).siblings().toggle();
      });
    });
  </script>
</div>
<div class="col-md-3">
  <div class="section-title al-center">
    <h4><%= t ".author" %></h4>
  </div>
  <div class="section-body padding-arround al-center">
    <%= link_to lawyer_profile_path(@article.account.lawyer_profile) do %>
      <%= image_tag @article.account_avatar_url, size: "50x50", class: "no_margin" %>
    <% end %>
    <p>
      <%= render("shared/clip", clip: @clip) if current_account %>
    </p>
  </div>

  <div class="section-title al-center">
    <h4><%= t ".recommend_lawyers" %></h4>
  </div>
  <div class="section-body padding-arround al-center">
    <%= render "shared/ranking/monthly_top_lawyer", accounts: @advertise_lawyers %>
  </div>

  <div class="section-title al-center">
    <h4><%= t(".tag_list") %></h4>
  </div>
  <div class="section-body padding-arround al-center">
    <div class="form-group">
      <%= render "shared/articles/tags", tags: @article.tags %>
    </div>
  </div>
</div>
