<div class="col-md-1" id="form-vote">
  <p>total_vote: <%= @article.total_vote %></p>
  <% if current_account.present? %>
    <% if @vote.persisted? %>
      <p><%= render "shared/users/votes/delete_vote_form", vote: @vote %></p>
    <% else %>
      <p><%= render "shared/users/votes/new_vote_form", vote: @vote %></p>
    <% end %>
  <% end %>
</div>
<div class="col-md-8">
  <div class="section-body padding-arround">
    <p class="bold"><%= @article.title %></h2>
    <p><%= raw @article.content %></p>

    <div class="form-group">
      <h4>Comment</h4>
      <% if current_account != nil %>
        <%= render "comments/form", comment: @comment%>
      <% end %>
      <%= comments_tree_for @comments %>
    </div>
  </div>
</div>
<div class="col-md-3">
  <div class="section-title al-center">
    <h4><%= t ".author" %></h4>
  </div>
  <div class="section-body padding-arround al-center">
    <%= link_to lawyer_profile_path(@article.account.lawyer_profile) do %>
      <%= image_tag @article.account_avatar_url, size: "50x50", class: "no_margin" %>
    <% end %>
    <p><%= link_to @article.account_name, lawyer_profile_path(@article.account.lawyer_profile) %></p>
  </div>
</div>
