<div class="col-md-9">
  <div class="section-title al-center">
    <h4><%= t ".article" %></h4>
  </div>
  <div class="section-body padding-arround">
    <div class="row">
      <% if current_account.present? && current_account.id != @article.account_id %>
        <div class="col-md-1 al-center">
          <div id="form-vote">
            <%= render("vote_form", vote: @vote, model: @article) %>
          </div>
        </div>
      <% end %>
      <div class="col-md-11">
        <p class="bold">
          <span><%= @article.title %></span>
          <span class="pull-right">
            <%= render("shared/articles/action_buttons", article: @article) if current_account %>
          </span>
        </h2>
        <p>
          <span><%= link_to @article.category_name, category_path(@article.category) %> | </span>
          <span><%= @article.created_at.to_formatted_s(:short) %></span>
        </p>
        <%= render "shared/statistics/article_statitic", article: @article, action: "show" %>
        <p><%= raw @article.content %></p>
      </div>
    </div>
  </div>

  <div class="section-title al-center">
    <h4><%= t ".comment" %></h4>
  </div>
  <div class="section-body padding-arround">
    <div class="form-group">
      <% if current_account != nil %>
        <%= render "comments/form", comment: @comment%>
      <% end %>
      <%= comments_tree_for @comments.reverse_each %>
    </div>
  </div>

  <div class="">
    <div class="">
      <%= render "recommend", author_articles: @author_articles, related_articles: @related_articles %>
    </div>
  </div>
</div>
<div class="col-md-3">
  <div class="section-title al-center">
    <h4><%= t ".author" %></h4>
  </div>
  <div class="section-body padding-arround al-center">
    <%= link_to lawyer_profile_path(@article.account.lawyer_profile) do %>
      <%= image_tag @article.account_avatar_url, size: "50x50", class: "no_margin" %>
    <% end %>
    <%= link_to lawyer_profile_path(@article.account.lawyer_profile) do %>
      <p><%= @article.account.name %></p>
    <% end %>
    <p>
      <% if current_account.present? && current_account.id != @article.account_id %>
        <%= render("shared/clip", clip: @clip) %>
      <% end %>
    </p>
  </div>

  <div class="section-title al-center">
    <h4><%= t ".recommend_lawyers" %></h4>
  </div>
  <div class="section-body padding-arround al-center">
    <%= render "shared/ranking/monthly_top_lawyer", accounts: @advertise_lawyers %>
  </div>

  <div class="section-title al-center">
    <h4><%= t(".tag_list") %></h4>
  </div>
  <div class="section-body padding-arround al-center">
    <div class="form-group">
      <%= render "shared/articles/tags", tags: @article.tags %>
    </div>
  </div>
</div>
