<tr id="<%= "lawyer-#{lawyer_profile.id}" %>">
  <td><%= link_to lawyer_profile.account_name, admin_approve_lawyer_profile_path(lawyer_profile) %></td>
  <td><%= link_to lawyer_profile.account_email, admin_approve_lawyer_profile_path(lawyer_profile) %></td>
  <td>
    <span class="label label-danger">
    <%= t ".block" %></span>
  </td>
  <td>
    <%= form_for [:admin, :approve, lawyer_profile] do |f| %>
      <%= f.hidden_field :is_active, value: true %>
      <%= f.submit t(".active_btn"), class: "btn btn-success" %>
    <% end %>
  </td>
</tr>
