<div class="category_container" id="follow-category-<%= category.id %>">
  <div class="category_box">
    <h4><%= category.name %></h4>
    <% follow_category = current_account.init_follow_category category %>
    <% if follow_category.persisted? %>
      <%= form_for [:follows, follow_category], :html => { :method => :delete, :remote => true } do |f| %>
        <%= f.hidden_field :category_id %>
        <%= f.hidden_field :account_id %>
        <%= f.submit t(".unfollow"), class: "btn--warning" %>
      <% end %>
    <% else %>
      <%= form_for [:follows, follow_category], remote: true do |f| %>
        <%= f.hidden_field :category_id %>
        <%= f.hidden_field :account_id %>
        <%= f.submit t(".follow"), class: "btn--default" %>
      <% end %>
    <% end %>
  </div>
</div>
