<div class="row" id="article-<%= article.id %>">
  <div class="col-md-3">
    <%= article.account.name %>
  </div>
  <div class="col-md-7">
    <h4><%= link_to article.title, article_path(article) %></h4>
    <div>
      <%= simple_format(article.content.truncate Settings.article.top_page.truncate) %>
    </div>
  </div>
  <div class="col-md-2">
    <p>total_vote: <%= article.total_vote %></p>
  </div>
  <hr>
</div>
