<tr id="<%= "lawyer-#{lawyer_profile.id}" %>">
  <td><%= link_to lawyer_profile.account_name, admin_lawyer_profile_path(lawyer_profile) %></td>
  <td><%= link_to lawyer_profile.account_email, admin_lawyer_profile_path(lawyer_profile) %></td>
  <td>
    <% if lawyer_profile.active? %>
      <span class="label label-success"><%= t ".active" %></span>
    <% else %>
      <span class="label label-danger"><%= t ".block" %></span>
    <% end %>
  </td>
  <td>
    <% if lawyer_profile.is_active %>
      <%= form_for [:admin, lawyer_profile] do |f| %>
        <%= f.hidden_field :is_active, value: false %>
        <%= f.submit t(".block_btn"), class: "btn btn-danger" %>
      <% end %>
    <% else %>
      <%= form_for [:admin, lawyer_profile] do |f| %>
        <%= f.hidden_field :is_active, value: true %>
        <%= f.submit t(".active_btn"), class: "btn btn-success" %>
      <% end %>
    <% end %>
  </td>
</tr>
