<div>
  <h3><%= t ".lawyer_profile" %></h3>
  <form action= <%= admin_lawyer_profiles_path %> >
    <div class="input-group" >
      <input type="text" class="form-control" placeholder=" <%= I18n.t "top_pages.search" %> " name="q" size="50">
    </div>
  </form>
  <table class="table">
    <thead>
      <tr>
        <th><%= t ".name" %></th>
        <th><%= t ".email" %></th>
        <th><%= t ".status" %></th>    
        <th><%= t ".action" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @lawyer_profiles %>
    </tbody>
  </table>
  <%= paginate @lawyer_profiles %>
</div>
