<div class="form-group">  
  <%= f.label :title %>     
  <%= f.text_field :title, class: "form-control" %>
</div>

<div class="form-group">  
  <%= f.label :content %>     
  <%= f.text_area :content, rows: 10, class: "form-control" %>
</div>

<div class="form-group">  
  <%= f.label :category %>     
  <%= f.collection_select :category_id, Category.order(:name), :id, :name, {}, {class: "form-control"} %>
</div>
