<p id="notice"><%= notice %></p>
<h1>Question</h1>
<table class="table">
  <thead>
    <tr>
      <th><%= t ".title" %></th>
      <th><%= t ".content" %></th>    
      <th><%= t ".action" %></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "question", collection: @questions, as: :question %>
  </tbody>
</table>
<%= link_to t(".new"), new_user_question_path, class: "btn btn-success" %>
<br>
