<div class="col-md-9">
  <div class="section-title al-center">
    <h4><%= t "new_question" %></h4>
  </div>
  <div class="section-body padding-arround">
    <%= form_for [:user, @question] do |f| %>
      <%= render "shared/errors_list", object: @question %>
      <%= render "form", f: f %>
    <% end %>
  </div>
</div>
<div class="col-md-3">
  <%= render "shared/users/user_statistic", account: current_account %>
</div>
