<div class="col-md-9">
  <div class="section-title al-center">
    <h4><%= t ".edit_law_profile" %></h4>
  </div>
  <div class="section-body padding-arround">
    <%= form_for [:lawyer, @lawyer_profile] do |f| %>
    <%= render "shared/errors_list", object: @lawyer_profile %>
    <%= render "shared/lawyer_profiles/form", f: f %>

    <div class="form-group">
      <%= f.submit t(".submit"), class: "form__btn" %>
    </div>
    <% end %>
  </div>
</div>
