<div class="col-md-10 col-md-offset-1">
  <div class="section-title al-center">
    <h4><%= t ".add_tag_description" %></h4>
  </div>

  <div class="section-body padding-arround pd-10">
    <% tags = @article.all_tags %>
    <%= form_tag lawyer_articles_path, :html => { :method => :put } do %>
      <%= hidden_field_tag :article_id, @article.id %>
      <% for tag in tags %>
        <% td = tag.tag_descriptions.find_by(account_id: current_account.id) %>
        <% description = td.nil? ? "" : td.content %>
        <%= fields_for "tags[#{tag.id}]" do |f| %>
          <p>
            <span><%= tag.name %></span>
            <%= f.text_area :content, value: description, class: "form__input" %>
            <%= f.hidden_field :account_id, value: current_account.id %>
          </p>
        <% end %>
      <% end %>

      <%= submit_tag t(".finish"), name: :step, value: :finish, class: "form-control btn btn-primary" %>
    <% end %>
  </div>
</div>
