<div class="container">
  <h2>Tag: <%= @tag_text %></h2>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Article</a></li>
    <li><a data-toggle="tab" href="#menu2">Question</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <div class="col-md-9">
        <div class="section-title al-center">
          <h4><%= t ".article" %></h4>
        </div>
        <div class="section-body padding-arround">
          <%= render("top_pages/articles", articles: @articles) if @articles.present? %>
          <div class="row al-center"><%= paginate @articles %></div>
        </div>
      </div>
    </div>

    <div id="menu2" class="tab-pane fade">
      <div class="col-md-9">
        <div class="section-title al-center">
          <h4><%= t ".questions" %></h4>
        </div>
        <div class="section-body padding-arround">
          <%= render partial: "shared/questions/question", collection: @questions, as: :question %>
          <div class="row al-center"><%= paginate @questions %></div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
    
  </div>
</div>
