<div class="grid no-margin" style="margin-bottom: 10px;">
  <div class="">
    <ul class="nav sub_navi" role="navigation">
      <li class="nav__item"> <%= link_to t(".article"), lawyer_articles_path %> </li>
      <li class="nav__item"><%= link_to t(".draft"), lawyer_draft_articles_path %></li>
      <li class="nav__item"><%= link_to t(".clips"), lawyer_clips_path %></li>
      <li class="nav__item"><%= link_to t(".follow_categories"), follows_follow_categories_path %></li>
      <li class="nav__item"><%= link_to t(".account"), edit_lawyer_account_path(current_account) %></li>
      <li class="nav__item"><%= link_to t(".lawyer_profile"), edit_lawyer_lawyer_profile_path(current_account.lawyer_profile) %></li>
      <li class="nav__item dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <%= t(".law_firm") %>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><%= law_firm_link current_account.lawyer_profile %></li>
          <% if current_account.lawyer_profile.is_manager %>
            <li><%= link_to t(".request_law_firm"), lawyer_request_law_firms_path(current_account) %></li>
            <li><%= link_to t(".law_firm_member"), lawyer_law_firm_members_path(current_account) %></li>
          <% else %>
            <li><%= link_to t(".law_fim_invitation"), lawyer_add_law_firms_path(current_account) %></li>
          <% end %>
        </ul>
      </li>
      <li class="nav__item"><%= link_to t(".history_advertise"), new_lawyer_advertise_history_advertise_path %></li>
      <li class="nav__item"><%= link_to t(".notification"), lawyer_notifies_path %></li>
    </ul>
  </div>
</div>
