.<h3>Law Firm Show</h3>
<p><%= @law_firm.name %></p>
<% if current_account.present? && current_account.can_join(@law_firm, @request_lf) %>
  <%= form_tag request_law_firms_path(), method: :post do %>
    <%= hidden_field_tag law_firm_id:, @law_firm.id %>
    <div class="actions">
      <%= submit_tag :Join %>
    </div>
  <% end %>
<% end %>
<% if @law_profile.present? &&  @law_profile.can_out(@law_firm.id) %>
  <%= link_to t(".out_law_firm"), lawyer_out_law_firm_path() , method: :delete, data: { confirm: t(".confirm") } %>
<% end %>
