<div>
  <h1>Question</h1>
  <div>
    <form action= <%= admin_questions_path %> >
      <div class="input-group" >
        <input type="text" class="form-control" placeholder=" <%= I18n.t "top_pages.search" %> " name="q" size="50">
      </div>
    </form>
    <table class="table">
      <thead>
        <tr>
          <th><%= t ".user_name" %></th>
          <th><%= t ".title" %></th>
          <th><%= t ".content" %></th>
          <th><%= t ".action" %></th>
        </tr>
      </thead>
      <tbody>
        <% @questions.each do |question| %>
          <tr>
            <td> <%= question.account_name %> </td>
            <td> <%= question.title %> </td>
            <td> <%= question.content.truncate 50 %> </td>
            <td> <%= link_to t(".delete"), admin_question_path(question), method: :delete, class: "btn-danger", data: {confirm: t(".confirm")} %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @questions %>
  </div>
</div>
