<div class="vertical-menu">
  <ul class="list-group">
    <%= link_to t(".lawyer_profile"), admin_lawyer_profiles_path, class: "list-group-item" %>
    <%= link_to t(".law_firm"), admin_law_firms_path, class: "list-group-item" %>
    <%= link_to t(".user"), admin_accounts_path, class: "list-group-item" %>
    <%= link_to t(".article"), admin_articles_path, class: "list-group-item" %>
    <%= link_to t(".question"), admin_questions_path, class: "list-group-item" %>
  </ul>
</div>
