<ul class="menu admin_left_menu" role="navigation">
  <li class="menu__link"><%= link_to t(".not_approve"), admin_approve_lawyer_profiles_path %></li>
  <li class="menu__link"><%= link_to t(".approve"), admin_lawyer_profiles_path %></li>
  <li class="menu__link"><%= link_to t(".law_firm"), admin_law_firms_path %></li>
  <li class="menu__link"><%= link_to t(".user"), admin_accounts_path %></li>
  <li class="menu__link"><%= link_to t(".article"), admin_articles_path %></li>
  <li class="menu__link"><%= link_to t(".question"), admin_questions_path %></li>
  <li class="menu__link"><%= link_to t(".answer"), admin_answers_path %></li>
</ul>
