<div class="form-group">
  <%= f.label t(".name") %>
  <%= f.text_field :name, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label t(".address") %>
  <%= f.text_field :address, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label t(".province_id") %>
  <%= f.select :province_id, options_for_select(provinces.pluck(:name, :id)), {}, {class: "form-control"} %>
</div>

<div class="form-group">
  <%= f.label t(".phone_number") %>
  <%= f.text_field :phone_number, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label t(".fax") %>
  <%= f.text_field :fax, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label t(".introduction") %>
  <%= f.text_area :introduction, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label t(".working_start_time") %>
  <%= f.text_field :working_start_time, class: "form-control timepicker" %>
</div>

<div class="form-group">
  <%= f.label t(".working_end_time") %>
  <%= f.text_field :working_end_time, class: "form-control timepicker" %>
</div>
