<p>
  <% vote_class = (article.total_vote.to_i < 0) ? "fa-chevron-circle-down" : "fa-chevron-circle-up" %>
  <span class="stat_item" data-toggle="tooltip" title="<%= t '.view_number' %>">
    <i aria-hidden="true" class="fa fa-eye"></i> <%= article.impressionist_count(filter: :session_hash) %>
  </span>
  <% if action == "index" %>
    <span class="stat_item" data-toggle="tooltip" title="<%= t '.votes_number' %>">
      <i aria-hidden="true" class="fa <%= vote_class %>"></i> <%= article.total_vote.to_i %>
    </span>
  <% end %>
  <span class="stat_item" data-toggle="tooltip" title="<%= t '.clips_number' %>">
    <i aria-hidden="true" class="fa fa-paperclip"></i> <%= article.clips.count %>
  </span>
  <span class="stat_item" data-toggle="tooltip" title="<%= t '.comment_number' %>">
    <i aria-hidden="true" class="fa fa-comments" ></i> <%= article.comments.count %>
  </span>
</p>
