<p>
  <% vote_class = (question.total_vote.to_i < 0) ? "fa-chevron-circle-down" : "fa-chevron-circle-up" %>
  <span class="stat_item" data-toggle="tooltip" title="<%= t '.view_number' %>">
    <i aria-hidden="true" class="fa fa-eye" ></i> <%= question.impressionist_count(filter: :session_hash) %>
  </span>
  <% if action == "index" %>
    <span class="stat_item" data-toggle="tooltip" title="<%= t '.vote_number' %>">
      <i aria-hidden="true" class="fa <%= vote_class %>" ></i> <%= question.total_vote.to_i %>
    </span>
  <% end %>
  <span class="stat_item" data-toggle="tooltip" title="<%= t '.answer_number' %>">
    <i aria-hidden="true" class="fa fa-reply" ></i> <%= question.answers.count %>
  </span>
</p>
