<div class="row section-item">
  <div class="col-md-2">
    <p>
      <%= link_to account_path(question.account) do %>
        <%= image_tag question.account_avatar_url, size: "40x40", class: "no_margin" %>
      <% end %>
      </p>
    <p><%= question.created_at.to_formatted_s(:short) %></p>
    <p><%= link_to question.category_name, category_path(question.category) %></p>
  </div>
  <div class="col-md-10">
    <p>
      <%= link_to question.title, question_path(question), class: "bold" %>
      <span class="pull-right">
        <%= render("shared/questions/action_buttons", question: question) if current_account %>
      </span>
    </p>
    <%= render "shared/statistics/question_statitic", question: question, action: "index" %>
    <p><%= question.content.truncate Settings.question.top_page.truncate %></p>
  </div>
</div>
