<div class="row section-item">
  <div class="col-md-2">
    <p>
      <%= link_to account_path(question.account) do %>
      <%= image_tag question.account_avatar_url, size: "40x40", class: "no_margin" %>
        <% end %>
      </p>
    <p><%= question.created_at.to_formatted_s(:short) %></p>
    <p><%= question.category_name %></p>
  </div>
  <div class="col-md-10">
    <p><%= link_to question.title, question_path(question), class: "bold" %></p>
    <p><%= question.content.truncate Settings.question.top_page.truncate %></p>
  </div>
</div>
